# The domain adresse where the application is running
APP_DOMAIN =

# The environment running the application ( development or production )
APP_ENV_STATE =

# mongodb URI
DB_URI =

# The host ( domain name ) allowed to communicate with the API
ALLOWED_HOST =

# Headers http request allowed by the server to comunicate with itself 
ALLOWED_HEADERS =

# The secret used to create an access token
ACCESS_TOKEN_SECRET =

# The secret used to create a refresh token
REFRESH_TOKEN_SECRET =

# The email address to send superuser informations
SUPERUSER_EMAIL =

# The name of the superuser to create
SUPERUSER_NAME =

# The endpoint will be used to send the superuser creation informations
EMAIL_SERVER_URL =

# The api will be used for every email to send
EMAIL_API_KEY =

## Environment variables about github interaction

# Token to interact with the repository (me-hira-assets)
GITHUB_TOKEN =

# The owner of the github repository to store songs thumbanails
GITHUB_OWNER =

# The github repository where to store the thumbnails 
GITHUB_REPO =

# The branch in the github repository where to store thumbbails
GITHUB_BRANCH =