# The domain adresse where the application is running
APP_DOMAIN =

# The environment running the application ( development or production )
APP_ENV_STATE =

# mongodb URI
DB_URI =

# The host ( domain name ) allowed to communicate with the API
ALLOWED_HOST =

# Headers http request allowed by the server to comunicate with itself 
ALLOWED_HEADERS =

# The secret used to create an access token
ACCESS_TOKEN_SECRET =

# The secret used to create a refresh token
REFRESH_TOKEN_SECRET =

# The email address to send superuser informations
SUPERUSER_EMAIL =